<settings>
    <setting id="skinhelper.enableextendedart" type="bool">false</setting>
    <setting id="showhomezoomanimation" type="bool">false</setting>
    <setting id="enablehomemenu9" type="bool">false</setting>
    <setting id="enablehomemenu1" type="bool">true</setting>
    <setting id="skinhelper.enablepvrthumbs" type="bool">false</setting>
    <setting id="skinhelper.enablemusicart" type="bool">false</setting>
    <setting id="showhomehiddenmenu" type="bool">false</setting>
    <setting id="activatetvtunes" type="bool">false</setting>
    <setting id="disablehomefanart" type="bool">false</setting>
    <setting id="hideglobaltouchcontrols" type="bool">false</setting>
    <setting id="hidehomemenuicons" type="bool">false</setting>
    <setting id="enableartistslideshowaddon" type="bool">false</setting>
    <setting id="displayweatherinfo" type="bool">false</setting>
    <setting id="playingvideoonbackground" type="bool">false</setting>
    <setting id="enableseasonsextrafanart" type="bool">false</setting>
    <setting id="enablemoviesextrafanart" type="bool">false</setting>
    <setting id="fanart" type="bool">false</setting>
    <setting id="themebackgroundcolor" type="bool">false</setting>
    <setting id="showmusicvideothumbasfanart" type="bool">false</setting>
    <setting id="enabletvshowsextrafanart" type="bool">false</setting>
    <setting id="shownowplayingonhome" type="bool">false</setting>
    <setting id="enableepisodesextrafanart" type="bool">false</setting>
    <setting id="showviewoptions" type="bool">false</setting>
    <setting id="enablehomemenu5" type="bool">false</setting>
    <setting id="visualization" type="bool">false</setting>
    <setting id="skinhelper.forcedviews.enabled" type="bool">false</setting>
    <setting id="displayscrollingtext" type="bool">false</setting>
    <setting id="enablehomemenu10" type="bool">false</setting>
    <setting id="skinhelper.enableextrafanart" type="bool">false</setting>
    <setting id="enablehomemenu2" type="bool">true</setting>
    <setting id="shownumericalratingfortvshows" type="bool">false</setting>
    <setting id="enablehomemenu6" type="bool">false</setting>
    <setting id="episodewidelist" type="bool">false</setting>
    <setting id="shownumericalratingformovies" type="bool">false</setting>
    <setting id="disableartistextrafanartinnavigation" type="bool">false</setting>
    <setting id="disablehomeanimations" type="bool">false</setting>
    <setting id="enabletvshownexaired" type="bool">false</setting>
    <setting id="enablehomemenu8" type="bool">false</setting>
    <setting id="enablehomemenu7" type="bool">false</setting>
    <setting id="skinhelper.disablescreensaveronfullscreenmusic" type="bool">false</setting>
    <setting id="hidenewepisodes" type="bool">false</setting>
    <setting id="showhomecustomizationhiddenmenu" type="bool">false</setting>
    <setting id="enablehomemenu3" type="bool">true</setting>
    <setting id="skinhelper.enableanimatedposters" type="bool">false</setting>
    <setting id="hidealbumartistdescirption" type="bool">false</setting>
    <setting id="enablehomemenu4" type="bool">false</setting>
    <setting id="SubMenu7Tile1.Image" type="string"></setting>
    <setting id="SubMenu8Tile3.ImageType" type="string"></setting>
    <setting id="homewidget10.type" type="string"></setting>
    <setting id="homewidget1.custom.path" type="string"></setting>
    <setting id="homewidget1.type" type="string">RandomMovies</setting>
    <setting id="submenu8tile5.type" type="string"></setting>
    <setting id="homewidget2.type" type="string">RandomEpisodesThumbs</setting>
    <setting id="SubMenu5Tile2.Label" type="string"></setting>
    <setting id="SubMenu7Tile1.Label" type="string"></setting>
    <setting id="SubMenu6Tile2.ImageType" type="string"></setting>
    <setting id="SubMenu9Tile2.ImageType" type="string"></setting>
    <setting id="MainMenu7.Path" type="string"></setting>
    <setting id="SubMenu10Tile4.Image" type="string"></setting>
    <setting id="SideMenuTile2.ImageType" type="string"></setting>
    <setting id="homewidget6.type" type="string"></setting>
    <setting id="sidemenutile1.type" type="string">Weather</setting>
    <setting id="SideMenuTile1.Image" type="string"></setting>
    <setting id="SubMenu4Tile4.Image" type="string"></setting>
    <setting id="submenu10tile4.type" type="string"></setting>
    <setting id="homemenu4.image" type="string">HomeIcons/LiveTv.png</setting>
    <setting id="submenu5tile2.type" type="string">GameAddons</setting>
    <setting id="SideMenuTile6.Label" type="string"></setting>
    <setting id="sidemenutile3.type" type="string">Programs</setting>
    <setting id="SubMenu1Tile5.Label" type="string"></setting>
    <setting id="submenu9tile1.type" type="string"></setting>
    <setting id="SubMenu4Tile5.ImageType" type="string"></setting>
    <setting id="SideMenuTile4.Image" type="string"></setting>
    <setting id="SubMenu4Tile2.Image" type="string"></setting>
    <setting id="SideMenuTile11.ImageType" type="string"></setting>
    <setting id="SubMenu8Tile2.Image" type="string"></setting>
    <setting id="SubMenu6Tile1.Label" type="string"></setting>
    <setting id="submenu4tile5.type" type="string">Timers</setting>
    <setting id="SubMenu1Tile1.Image" type="string"></setting>
    <setting id="SubMenu3Tile5.Image" type="string"></setting>
    <setting id="SubMenu1Tile1.Path" type="string"></setting>
    <setting id="homewidget8.custom.path" type="string"></setting>
    <setting id="SideMenuTile3.Label" type="string"></setting>
    <setting id="submenu3tile1.type" type="string">Albums</setting>
    <setting id="SideMenuTile7.Label" type="string"></setting>
    <setting id="HomeWidget1.Label" type="string"></setting>
    <setting id="mainmenu4.type" type="string"></setting>
    <setting id="submenu4tile3.type" type="string">RadioChannels</setting>
    <setting id="SubMenu6Tile4.ImageType" type="string"></setting>
    <setting id="SideMenuTile11.Image" type="string"></setting>
    <setting id="SubMenu7Tile2.Image" type="string"></setting>
    <setting id="SubMenu8Tile3.Image" type="string"></setting>
    <setting id="mainmenu3.type" type="string"></setting>
    <setting id="SubMenu8Tile4.Image" type="string"></setting>
    <setting id="sidemenutile14.type" type="string"></setting>
    <setting id="SubMenu2Tile2.Label" type="string"></setting>
    <setting id="SubMenu9Tile5.Image" type="string"></setting>
    <setting id="SubMenu10Tile3.ImageType" type="string"></setting>
    <setting id="SubMenu9Tile3.Image" type="string"></setting>
    <setting id="SubMenu1Tile4.ImageType" type="string"></setting>
    <setting id="sidemenutile12.type" type="string"></setting>
    <setting id="SubMenu7Tile2.Label" type="string"></setting>
    <setting id="SubMenu10Tile5.ImageType" type="string"></setting>
    <setting id="SubMenu5Tile2.ImageType" type="string"></setting>
    <setting id="submenu3tile5.type" type="string">MusicAddons</setting>
    <setting id="homemenu8.image" type="string"></setting>
    <setting id="HomeMenu9.Label" type="string"></setting>
    <setting id="SubMenu9Tile4.Label" type="string"></setting>
    <setting id="homemenu7.background" type="string"></setting>
    <setting id="submenu7tile1.type" type="string"></setting>
    <setting id="SubMenu8Tile2.Label" type="string"></setting>
    <setting id="submenu8tile3.type" type="string"></setting>
    <setting id="SubMenu3Tile4.Image" type="string"></setting>
    <setting id="SubMenu4Tile4.Label" type="string"></setting>
    <setting id="SubMenu3Tile3.Label" type="string"></setting>
    <setting id="homewidget10.layout" type="string"></setting>
    <setting id="SkinHelper.StudioLogos.Path" type="string"></setting>
    <setting id="SideMenuTile1.Label" type="string"></setting>
    <setting id="SideMenuTile10.Image" type="string"></setting>
    <setting id="SubMenu2Tile4.ImageType" type="string"></setting>
    <setting id="SideMenuTile6.ImageType" type="string"></setting>
    <setting id="SubMenu9Tile3.ImageType" type="string"></setting>
    <setting id="homemenu1.image" type="string">HomeIcons/Movies.png</setting>
    <setting id="SubMenu3Tile3.ImageType" type="string"></setting>
    <setting id="submenu8tile4.type" type="string"></setting>
    <setting id="homewidget3.custom.path" type="string"></setting>
    <setting id="HomeMenu6.Label" type="string"></setting>
    <setting id="homewidget5.layout" type="string"></setting>
    <setting id="SubMenu2Tile3.ImageType" type="string"></setting>
    <setting id="HomeMenu1.Label" type="string">Movies</setting>
    <setting id="HomeMenu8.Label" type="string"></setting>
    <setting id="SubMenu7Tile5.ImageType" type="string"></setting>
    <setting id="SubMenu2Tile4.Image" type="string"></setting>
    <setting id="SubMenu8Tile3.Label" type="string"></setting>
    <setting id="SubMenu10Tile4.ImageType" type="string"></setting>
    <setting id="SubMenu1Tile3.Image" type="string"></setting>
    <setting id="SubMenu1Tile2.Label" type="string"></setting>
    <setting id="homemenu2.background" type="string"></setting>
    <setting id="SubMenu9Tile1.Image" type="string"></setting>
    <setting id="SubMenu6Tile4.Image" type="string"></setting>
    <setting id="SubMenu9Tile4.Image" type="string"></setting>
    <setting id="submenu5tile3.type" type="string">GameSettings</setting>
    <setting id="SideMenuTile14.Label" type="string"></setting>
    <setting id="SubMenu6Tile3.ImageType" type="string"></setting>
    <setting id="submenu1tile4.type" type="string">VideoLibrary</setting>
    <setting id="submenu4tile4.type" type="string">Recordings</setting>
    <setting id="SideMenuTile12.Label" type="string"></setting>
    <setting id="submenu8tile1.type" type="string"></setting>
    <setting id="firstskinrun" type="string">Configured</setting>
    <setting id="SubMenu8Tile4.ImageType" type="string"></setting>
    <setting id="HomeWidget5.Label" type="string"></setting>
    <setting id="SubMenu9Tile1.Label" type="string"></setting>
    <setting id="SubMenu5Tile2.Image" type="string"></setting>
    <setting id="SideMenuTile5.ImageType" type="string"></setting>
    <setting id="SubMenu4Tile3.Image" type="string"></setting>
    <setting id="SideMenuTile5.Image" type="string"></setting>
    <setting id="SubMenu9Tile5.Label" type="string"></setting>
    <setting id="submenu3tile3.type" type="string">Artists</setting>
    <setting id="sidemenutile5.type" type="string">Addons</setting>
    <setting id="SubMenu4Tile1.Label" type="string"></setting>
    <setting id="SubMenu2Tile5.ImageType" type="string"></setting>
    <setting id="SideMenuTile14.Image" type="string"></setting>
    <setting id="SubMenu1Tile2.Path" type="string"></setting>
    <setting id="skinhelper.autoclosemusicosd" type="string"></setting>
    <setting id="SideMenuTile14.ImageType" type="string"></setting>
    <setting id="SubMenu6Tile5.ImageType" type="string"></setting>
    <setting id="HomeMenu7.Label" type="string"></setting>
    <setting id="SideMenuTile9.Image" type="string"></setting>
    <setting id="submenu9tile2.type" type="string"></setting>
    <setting id="SubMenu1Tile2.Image" type="string"></setting>
    <setting id="submenu9tile4.type" type="string"></setting>
    <setting id="SideMenuTile4.ImageType" type="string"></setting>
    <setting id="SubMenu10Tile1.Label" type="string"></setting>
    <setting id="SubMenu10Tile1.Image" type="string"></setting>
    <setting id="SubMenu9Tile4.ImageType" type="string"></setting>
    <setting id="SubMenu3Tile1.Image" type="string"></setting>
    <setting id="homewidget5.type" type="string"></setting>
    <setting id="HomeWidget10.Label" type="string"></setting>
    <setting id="SubMenu5Tile1.Label" type="string"></setting>
    <setting id="SubMenu2Tile2.ImageType" type="string"></setting>
    <setting id="homewidget8.type" type="string"></setting>
    <setting id="homewidget7.type" type="string"></setting>
    <setting id="submenu4tile1.type" type="string">TvChannels</setting>
    <setting id="SideMenuTile6.Image" type="string"></setting>
    <setting id="SideMenuTile2.Image" type="string"></setting>
    <setting id="SubMenu5Tile1.Image" type="string"></setting>
    <setting id="SubMenu2Tile5.Image" type="string"></setting>
    <setting id="mainmenu2.type" type="string"></setting>
    <setting id="SubMenu8Tile4.Label" type="string"></setting>
    <setting id="submenu8tile2.type" type="string"></setting>
    <setting id="SideMenuTile13.Label" type="string"></setting>
    <setting id="SubMenu6Tile5.Image" type="string"></setting>
    <setting id="SubMenu3Tile4.Label" type="string"></setting>
    <setting id="SubMenu4Tile3.ImageType" type="string"></setting>
    <setting id="SubMenu5Tile5.Label" type="string"></setting>
    <setting id="homewidget6.custom.path" type="string"></setting>
    <setting id="homewidget2.layout" type="string">Thumb</setting>
    <setting id="homemenu3.background" type="string"></setting>
    <setting id="SubMenu3Tile2.Image" type="string"></setting>
    <setting id="SubMenu3Tile2.ImageType" type="string"></setting>
    <setting id="SubMenu8Tile1.Label" type="string"></setting>
    <setting id="submenu3tile4.type" type="string">MusicFiles</setting>
    <setting id="homemenu9.background" type="string"></setting>
    <setting id="SubMenu10Tile3.Image" type="string"></setting>
    <setting id="SubMenu4Tile1.Image" type="string"></setting>
    <setting id="homemenu10.background" type="string"></setting>
    <setting id="submenu1tile5.type" type="string">VideoAddons</setting>
    <setting id="SubMenu1Tile1.Label" type="string"></setting>
    <setting id="HomeWidget2.Label" type="string"></setting>
    <setting id="SubMenu2Tile1.Label" type="string"></setting>
    <setting id="SubMenu1Tile3.Label" type="string"></setting>
    <setting id="submenu6tile1.type" type="string"></setting>
    <setting id="MainMenu5.Path" type="string"></setting>
    <setting id="SubMenu6Tile4.Label" type="string"></setting>
    <setting id="homewidget9.type" type="string"></setting>
    <setting id="SubMenu7Tile2.ImageType" type="string"></setting>
    <setting id="SubMenu1Tile4.Image" type="string"></setting>
    <setting id="submenu2tile5.type" type="string">VideoAddons</setting>
    <setting id="homewidget1.layout" type="string">Poster</setting>
    <setting id="sidemenutile8.type" type="string">Shutdown</setting>
    <setting id="homemenu5.image" type="string">HomeIcons/Games.png</setting>
    <setting id="sidemenutile4.type" type="string">Favourites</setting>
    <setting id="submenu10tile1.type" type="string"></setting>
    <setting id="SideMenuTile13.ImageType" type="string"></setting>
    <setting id="SideMenuTile12.ImageType" type="string"></setting>
    <setting id="sidemenutile7.type" type="string">Settings</setting>
    <setting id="MainMenu2.Path" type="string"></setting>
    <setting id="HomeMenu5.Label" type="string">Games</setting>
    <setting id="SubMenu4Tile2.ImageType" type="string"></setting>
    <setting id="skinhelper.autoclosevideoosd" type="string"></setting>
    <setting id="homemenu8.background" type="string"></setting>
    <setting id="SideMenuTile8.Image" type="string"></setting>
    <setting id="homewidget7.custom.path" type="string"></setting>
    <setting id="SideMenuTile8.Label" type="string"></setting>
    <setting id="submenu3tile2.type" type="string">MusicLibrary</setting>
    <setting id="homewidget2.custom.path" type="string"></setting>
    <setting id="SideMenuTile8.ImageType" type="string"></setting>
    <setting id="sidemenutile9.type" type="string"></setting>
    <setting id="SubMenu7Tile4.Image" type="string"></setting>
    <setting id="SideMenuTile3.ImageType" type="string"></setting>
    <setting id="SubMenu3Tile1.Label" type="string"></setting>
    <setting id="SubMenu2Tile1.Image" type="string"></setting>
    <setting id="submenu1tile1.type" type="string">Movies</setting>
    <setting id="SubMenu8Tile2.ImageType" type="string"></setting>
    <setting id="SubMenu1Tile2.ImageType" type="string"></setting>
    <setting id="artistsfanartpath" type="string"></setting>
    <setting id="homewidget.type" type="string"></setting>
    <setting id="submenu9tile5.type" type="string"></setting>
    <setting id="SubMenu8Tile1.Image" type="string"></setting>
    <setting id="SubMenu10Tile5.Image" type="string"></setting>
    <setting id="SubMenu5Tile3.Label" type="string"></setting>
    <setting id="submenu7tile2.type" type="string"></setting>
    <setting id="SideMenuTile4.Label" type="string"></setting>
    <setting id="SubMenu5Tile3.Image" type="string"></setting>
    <setting id="submenu7tile3.type" type="string"></setting>
    <setting id="SideMenuTile11.Label" type="string"></setting>
    <setting id="HomeMenu3.Label" type="string">Music</setting>
    <setting id="SubMenu6Tile3.Image" type="string"></setting>
    <setting id="SubMenu7Tile3.Label" type="string"></setting>
    <setting id="HomeWidget7.Label" type="string"></setting>
    <setting id="HomeWidget9.Label" type="string"></setting>
    <setting id="SubMenu8Tile5.Image" type="string"></setting>
    <setting id="submenu4tile2.type" type="string">EPG</setting>
    <setting id="HomeMenu10.Label" type="string"></setting>
    <setting id="SubMenu4Tile3.Label" type="string"></setting>
    <setting id="SubMenu4Tile2.Label" type="string"></setting>
    <setting id="sidemenutile2.type" type="string">Pictures</setting>
    <setting id="submenu5tile1.type" type="string">Games</setting>
    <setting id="homewidget4.custom.path" type="string"></setting>
    <setting id="SubMenu7Tile4.ImageType" type="string"></setting>
    <setting id="submenu7tile4.type" type="string"></setting>
    <setting id="HomeWidget6.Label" type="string"></setting>
    <setting id="homemenu6.image" type="string"></setting>
    <setting id="SubMenu7Tile3.Image" type="string"></setting>
    <setting id="homemenu10.image" type="string"></setting>
    <setting id="SideMenuTile7.Image" type="string"></setting>
    <setting id="homewidget3.type" type="string">RandomAlbums</setting>
    <setting id="MainMenu8.Path" type="string"></setting>
    <setting id="SideMenuTile1.ImageType" type="string"></setting>
    <setting id="sidemenutile10.type" type="string"></setting>
    <setting id="homewidget3.layout" type="string">Cover</setting>
    <setting id="mainmenu5.type" type="string"></setting>
    <setting id="SubMenu7Tile4.Label" type="string"></setting>
    <setting id="SubMenu5Tile4.Image" type="string"></setting>
    <setting id="SubMenu10Tile2.Label" type="string"></setting>
    <setting id="SideMenuTile2.Label" type="string"></setting>
    <setting id="SubMenu6Tile5.Label" type="string"></setting>
    <setting id="homewidget4.layout" type="string"></setting>
    <setting id="homewidget5.custom.path" type="string"></setting>
    <setting id="submenu10tile2.type" type="string"></setting>
    <setting id="SubMenu4Tile5.Label" type="string"></setting>
    <setting id="SubMenu9Tile5.ImageType" type="string"></setting>
    <setting id="submenu6tile5.type" type="string"></setting>
    <setting id="homemenu3.image" type="string">HomeIcons/Music.png</setting>
    <setting id="MainMenu6.Path" type="string"></setting>
    <setting id="submenu2tile3.type" type="string">RecentylAddedEpisodes</setting>
    <setting id="sidemenutile11.type" type="string"></setting>
    <setting id="SubMenu6Tile2.Label" type="string"></setting>
    <setting id="HomeMenu4.Label" type="string">Live TV</setting>
    <setting id="submenu7tile5.type" type="string"></setting>
    <setting id="submenu2tile1.type" type="string">TvShows</setting>
    <setting id="submenu5tile5.type" type="string"></setting>
    <setting id="sidemenutile6.type" type="string">SkinSettings</setting>
    <setting id="submenu1tile3.type" type="string">RecentylAddedMovies</setting>
    <setting id="SubMenu9Tile3.Label" type="string"></setting>
    <setting id="MainMenu3.Path" type="string"></setting>
    <setting id="SubMenu6Tile3.Label" type="string"></setting>
    <setting id="homewidget7.layout" type="string"></setting>
    <setting id="SideMenuTile10.Label" type="string"></setting>
    <setting id="homemenu9.image" type="string"></setting>
    <setting id="SubMenu5Tile5.Image" type="string"></setting>
    <setting id="MainMenu10.Path" type="string"></setting>
    <setting id="mainmenu1.type" type="string"></setting>
    <setting id="SubMenu5Tile3.ImageType" type="string"></setting>
    <setting id="SubMenu10Tile5.Label" type="string"></setting>
    <setting id="SubMenu2Tile3.Image" type="string"></setting>
    <setting id="SubMenu5Tile4.ImageType" type="string"></setting>
    <setting id="sidemenutile13.type" type="string"></setting>
    <setting id="SubMenu3Tile3.Image" type="string"></setting>
    <setting id="SubMenu7Tile3.ImageType" type="string"></setting>
    <setting id="SideMenuTile6.Path" type="string"></setting>
    <setting id="SideMenuTile10.ImageType" type="string"></setting>
    <setting id="SubMenu2Tile3.Label" type="string"></setting>
    <setting id="homewidget8.layout" type="string"></setting>
    <setting id="homemenu5.background" type="string"></setting>
    <setting id="SubMenu8Tile5.Label" type="string"></setting>
    <setting id="submenu2tile4.type" type="string">VideoLibrary</setting>
    <setting id="SubMenu3Tile5.Label" type="string"></setting>
    <setting id="SubMenu5Tile4.Label" type="string"></setting>
    <setting id="SideMenuTile9.Label" type="string"></setting>
    <setting id="HomeMenu2.Label" type="string">Tv Shows</setting>
    <setting id="HomeWidget8.Label" type="string"></setting>
    <setting id="MainMenu4.Path" type="string"></setting>
    <setting id="SubMenu10Tile2.Image" type="string"></setting>
    <setting id="SubMenu1Tile4.Label" type="string"></setting>
    <setting id="SubMenu10Tile3.Label" type="string"></setting>
    <setting id="SubMenu4Tile4.ImageType" type="string"></setting>
    <setting id="SubMenu2Tile4.Label" type="string"></setting>
    <setting id="SubMenu2Tile5.Label" type="string"></setting>
    <setting id="SubMenu7Tile5.Image" type="string"></setting>
    <setting id="mainmenu8.type" type="string"></setting>
    <setting id="SubMenu8Tile5.ImageType" type="string"></setting>
    <setting id="SubMenu6Tile2.Image" type="string"></setting>
    <setting id="submenu10tile3.type" type="string"></setting>
    <setting id="SubMenu6Tile1.Image" type="string"></setting>
    <setting id="SubMenu3Tile4.ImageType" type="string"></setting>
    <setting id="submenu10tile5.type" type="string"></setting>
    <setting id="homewidget9.custom.path" type="string"></setting>
    <setting id="HomeWidget3.Label" type="string"></setting>
    <setting id="SideMenuTile12.Image" type="string"></setting>
    <setting id="SubMenu5Tile5.ImageType" type="string"></setting>
    <setting id="mainmenu6.type" type="string"></setting>
    <setting id="SubMenu10Tile4.Label" type="string"></setting>
    <setting id="homewidget6.layout" type="string"></setting>
    <setting id="homemenu7.image" type="string"></setting>
    <setting id="submenu6tile2.type" type="string"></setting>
    <setting id="homemenu6.background" type="string"></setting>
    <setting id="submenu1tile2.type" type="string">MovieLibrary</setting>
    <setting id="homemenu4.background" type="string"></setting>
    <setting id="SideMenuTile9.ImageType" type="string"></setting>
    <setting id="SubMenu3Tile2.Label" type="string"></setting>
    <setting id="submenu2tile2.type" type="string">TVShowLibrary</setting>
    <setting id="SideMenuTile13.Image" type="string"></setting>
    <setting id="submenu5tile4.type" type="string"></setting>
    <setting id="SubMenu3Tile5.ImageType" type="string"></setting>
    <setting id="MainMenu9.Path" type="string"></setting>
    <setting id="mainmenu9.type" type="string"></setting>
    <setting id="SubMenu9Tile2.Image" type="string"></setting>
    <setting id="mainmenu10.type" type="string"></setting>
    <setting id="HomeWidget4.Label" type="string"></setting>
    <setting id="homemenu2.image" type="string">HomeIcons/TvShows.png</setting>
    <setting id="SideMenuTile7.Path" type="string"></setting>
    <setting id="SubMenu1Tile5.ImageType" type="string"></setting>
    <setting id="SubMenu10Tile2.ImageType" type="string"></setting>
    <setting id="SubMenu1Tile5.Image" type="string"></setting>
    <setting id="SideMenuTile5.Label" type="string"></setting>
    <setting id="submenu6tile3.type" type="string"></setting>
    <setting id="homewidget9.layout" type="string"></setting>
    <setting id="SideMenuTile7.ImageType" type="string"></setting>
    <setting id="SubMenu9Tile2.Label" type="string"></setting>
    <setting id="mainmenu7.type" type="string"></setting>
    <setting id="homewidget4.type" type="string"></setting>
    <setting id="MainMenu1.Path" type="string"></setting>
    <setting id="SubMenu4Tile5.Image" type="string"></setting>
    <setting id="submenu6tile4.type" type="string"></setting>
    <setting id="homewidget10.custom.path" type="string"></setting>
    <setting id="SideMenuTile3.Image" type="string"></setting>
    <setting id="submenu9tile3.type" type="string"></setting>
    <setting id="homemenu1.background" type="string"></setting>
    <setting id="SubMenu1Tile3.ImageType" type="string"></setting>
    <setting id="SubMenu7Tile5.Label" type="string"></setting>
    <setting id="SubMenu2Tile2.Image" type="string"></setting>
</settings>
